.AboutUsPage {
    padding: 150px;
    background-image: url('../assets/fondohistoria.jpeg'); /* Aplicamos la imagen de fondo */
    background-size: 100 100; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
  }
  
  .about-us-container {
    max-width: 900px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad para resaltar el contenido */
    border-radius: 10px;
    padding: 100px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative; /* Para que los pseudoelementos ::before y ::after funcionen correctamente */
  }
  
  
  
 
  
  .about-us-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333; /* Color oscuro para el texto del título */
    text-align: center; /* Centrar el título */
  }
  
  .about-us-container p {
    font-size: 20px;
    line-height: 1.5;
    color: #333; /* Color oscuro para el texto del párrafo */
    margin-bottom: 20px; /* Espacio adicional al final del párrafo */
  }
  
  .AboutUsPage h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 6rem;
    margin: 9px 0;
    color: rgb(0, 0, 0);
    text-align: center; /* Centrar el título principal */
  }
  