.ContactPage {
  padding: 150px;
  background-image: url('../assets/fondocontacto.jpeg'); /* Agregamos la imagen de fondo */
  background-size: 100 100; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
}

.contact-container {
  max-width: 900px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad para resaltar el contenido */
  border-radius: 10px;
  padding: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.icon {
  margin-right: 15px;
  font-size: 20px;
}

.ContactPage h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 6rem;
  margin: 9px 0;
  color: rgb(0, 0, 0);
}
