.menu {
  position: relative;
  background-image: url('../assets/fondomenu.jpeg');
  background-size: cover;
  background-position: center;
  padding: 40px;
}

.menu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(194, 193, 193, 0.5);
  z-index: 1;
}

.menu > * {
  position: relative;
  z-index: 2;
}

.menu h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 6rem;
  margin: 80px 0;
  color: rgb(0, 0, 0);
}

.menu-options {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.menu-option {
  background-color: #ff7700;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.menu-option.active {
  background-color: #ffb15e;
  color: #ffffff;
}

.menu-option:hover {
  background-color: #ff9a4c;
  color: #ffffff;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  margin: 20px 0;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-list h2 {
  margin-top: 0;
  font-size: 2rem;
  color: #333;
}

.pizza-item {
  width: 500px;
  padding: 20px;
  margin: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.pizza-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pizza-item:nth-child(odd) {
  background-color: #ffb15e;
  color: #333;
}

.pizza-item:nth-child(even) {
  background-color: #fbe5cd;
  color: #333;
}

.pizza-item::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  z-index: 1;
}

.pizza-item:hover::before {
  background: rgba(255, 255, 255, 0.5);
}

.pizza-image-container {
  width: 150px; /* Ajusta el tamaño según sea necesario */
  height: 150px; /* Ajusta el tamaño según sea necesario */
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 50%;
  border: 5px solid #ffffff; /* Ajusta el borde si es necesario */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Añade una sombra para darle más énfasis */
  position: absolute;
  top: -50px; /* Ajusta la posición vertical */
  left: -50px; /* Ajusta la posición horizontal */
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pizza-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.pizza-image-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  color: #666;
  font-size: 2rem;
  text-align: center;
  border-radius: 50%;
}

.pizza-details {
  width: 100%;
  padding: 10px;
}

.pizza-details h3 {
  font-size: 1.5rem;
  margin: 0;
}

.pizza-details p {
  margin: 5px 0;
}
