.pizza-item {
  width: 500px; /* Reducimos el ancho para hacer los cuadros más estrechos */
  padding: 20px;
  margin: 20px; /* Ajuste para un espacio más uniforme */
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinea el contenido a la derecha */
  position: relative; /* Necesario para posicionar el círculo */
}

.pizza-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para alternar el color de fondo */
.pizza-item:nth-child(odd) {
  background-color: #ffb15e; /* Fondo naranja */
  color: #333; /* Texto oscuro para contraste */
}

.pizza-item:nth-child(even) {
  background-color: #fbe5cd; /* Fondo beige */
  color: #333; /* Texto oscuro para contraste */
}

/* Círculo en la parte izquierda sobresaliendo cerca de la esquina superior */
.pizza-item::before {
  content: '';
  position: absolute;
  top: -20px; /* Ajusta la posición para estar cerca de la esquina superior */
  left: -20px; /* Posiciona fuera del borde izquierdo */
  width: 150px; /* Ancho del círculo */
  height: 150px; /* Altura del círculo */
  border-radius: 50%; /* Hace que el div sea un círculo */
  background-color: #ffffff; /* Color del círculo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para el círculo */
  overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga del círculo */
}

/* Si el fondo del cuadro es naranja, el círculo es blanco */
.pizza-item:nth-child(odd)::before {
  background-color: white; /* Círculo blanco */
}

/* Contenedor para la imagen dentro del círculo */
.pizza-image-container {
  position: absolute;
  top: -20px; /* Ajusta la posición para estar dentro del círculo */
  left: -20px; /* Posiciona dentro del círculo */
  width: 150px; /* Ancho del contenedor */
  height: 150px; /* Altura del contenedor */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%; /* Hace que el div sea un círculo */
  overflow: hidden; /* Asegura que la imagen no sobresalga del círculo */
}

.pizza-image {
  width: 100%;
  height: auto;
}

/* Estilos para la imagen de marcador de posición */
.pizza-image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #f0f0f0;
  border-radius: 50%; /* Hace que el div sea un círculo */
}

.pizza-image-placeholder i {
  font-size: 48px; /* Tamaño del ícono */
  color: #888; /* Color del ícono */
}

.pizza-details {
  text-align: right; /* Alinea el texto a la derecha */
  padding: 0 100px; /* Añade padding: arriba, derecha, abajo, izquierda */
  margin-top: auto; /* Empuja el contenido hacia arriba */
}

.pizza-details h3 {
  margin-top: 10px;
}

.pizza-details p {
  margin: 10px 0;
  /* Opcional: podrías agregar margin-right si quieres más separación del borde derecho */
}