.carousel-container {
  width: 100%;  /* Extiende el carrusel de extremo a extremo */
  max-width: 100%;  /* Asegura que no haya un tamaño máximo fijo */
  margin: 0;  /* Elimina márgenes para pegarlo al header */
}

.carousel .slide img {
  width: 70%;
  height: 400px;  /* Ajusta la altura según tus necesidades */
  object-fit: cover;
}

.carousel-placeholder {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  font-size: 2rem;
  color: white;
}
