/* src/components/Carousel.css */

.carousel-container {
  width: 100%; /* Ajusta el ancho del contenedor del carrusel según sea necesario */
}

.carousel-image {
  margin-top: 60px;
  width: 100%; /* Ancho del 100% del contenedor del carrusel */
  height: auto; /* Altura automática para mantener la proporción original de la imagen */
  object-fit: cover; /* Ajusta la imagen para llenar el contenedor sin distorsionarse */
  max-height: 500px; /* Altura máxima para controlar la altura de las imágenes */
}

